[package]
name = "sd-jwt-rs"
version = "0.1.0"
edition = "2021"
rust-version = "1.74.0"
authors = ["Sergey Minaev <sergey.minaev@dsr-corporation.com>"]

[dependencies]
base64 = "0.21"
hmac = "0.12"
jsonwebtoken = "9.2"
lazy_static = "1.4"
log = "0.4"
rand = "0.8"
serde_json = { version = "1.0", features = ["preserve_order"] }
sha2 = "0.10"

[dev-dependencies]
rstest = "0.18.2"
